.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  height: 100%;
  cursor: default;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  opacity: 1;
  margin: 0;
  padding: 0;
  animation: fadein 3s forwards;
}
h2 {
  font-weight: 300;
  margin-bottom: 25px;
}
img {
  width: 25%;
  border: 0;
  aspect-ratio: 125 / 50;
}
#main {
  vertical-align: middle;
  display: table-cell;
}
#progress {
  width: 45%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #a8a8a8;
  padding: 7px 5px;
}
#fill {
  padding: 2px 0;
  background-color: #00b98b;
  width: 0%;
  border-radius: 25px;
  animation: proanimate 2s;
}
#barpercent h3 {
  color: white;
  margin: 0;
  padding: 0;
  opacity: 1;
  animation: fadein 3s forwards;
}
#yippee-happy {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
}
@keyframes proanimate {
  from {
    width: 0%;
  }
}

@media screen and (max-width: 600px) {
  img {
    width: 60%;
  }
  h1 {
    font-size: 1.3em;
  }
  h2 {
    margin: 1.1em;
    font-size: 1.1em;
  }
  #progress {
    width: 80%;
  }
}

/* TESTING */

.rotating-ball {
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
