h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: xxx-large;
    color: red; /* fallback color */
    background: linear-gradient(to right, red, orange, yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }